          </div>

          <div class="span4">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">categories</li>
                <% getCategories().forEach(function(cat) { %>
                  <li><a href="<%= categoryURL(cat) %>"><%= cat %></a></li>
                <% }) %>

                <li class="nav-header">tags</li>
                <% getTags().forEach(function(tag) { %>
                  <li><a href="<%= tagURL(tag) %>"><%= tag %></a></li>
                <% }) %>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <footer>
    <img src="/images/nemesis.png" alt="Octokit Nemesis" />
    <p><strong>TechNemesis.com -- CliffBarnes.com -- CUBarnes.com</strong>
    <br /><i>Artwork: 'The Nemesis Octocat' by Cameron McEfee</i>
    <br />
    <br />
    <br />Impossible Things Only Take Longer
    </p>
    <img src="/images/tux.png" alt="Linux Freedom" />
    </footer>
    </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>
    <script src="/assets/js/bootstrap-affix.js"></script>

    <script src="/assets/js/holder/holder.js"></script>
    <script src="/assets/js/google-code-prettify/prettify.js"></script>

    <script src="/assets/js/application.js"></script>
  </body>
</html>
