<!DOCTYPE html>
<html>
  <head>
    <title>Cliff Barnes -- Javascript, NodeJS, HTML5, and Linux</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
  </head>
  <body>

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">Cliff Barnes -- Technology Nemesis</a>
          
        </div>
      </div>
    </div>

    <div class="wrap" style="margin-top: 50px;">
      <div class="container">
        <div class="row">

          <div class="span8">
