body
{
	color: #111;
	background-color: #c9c8c3;

}

body > .navbar a.brand, a
{
	color: #E34C26;
}

footer
{
	width: 1170px;
	margin: 0 auto;
}

footer p
{
	display: inline-block;
	margin-left: 30px;
}

a:hover
{
	color: #A4C739;
}

span.label-info
{
	background-color: #A4C739;
	color: #000;
}

img[src="/images/me.jpeg"]
{
	width: 150px;
}

img[src="/images/HTML5_Badge_512.png"]
{
	height: 150px;
	
}

img[src="/images/android.png"]
{
	height: 150px;
}

img[src="/images/nemesis.png"]
{
	height:300px;
	display:inline-block;
}
img[src="/images/tux.png"]
{
	height:300px;
	display:inline-block;
	float: right;
}